---
import { getCollection } from "astro:content";
import Button from "../components/Button.astro";
import ProductCard from "../components/ProductCard.astro";
import Layout from "../layouts/Layout.astro";
import ContactUs from '../components/ContactUs.astro'
import Contacts from '../components/Contacts.astro'

const cards = await getCollection("cards");
---

<Layout
  title="Dristalnya Coffee"
  description="Dristalnya Coffee where you can buy something drugs"
>
  <main class="flex-1">
    <section
      class="w-full bg-white/80 pt-12   bg-cover bg-center bg-no-repeat"
    >
      <div
        class="w-full space-y-10 xl:space-y-16 backdrop-blur-sm p-10 rounded-lg"
      >
        <div class="grid gap-4 px-10 md:grid-cols-2 md:gap-16">
          <div>
            <h1
              class="lg:leading-tighter text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[4rem] text-[#3b2a22]"
            >
              Discover our shop
            </h1>
            <p class="mx-auto max-w-[700px] text-[#3b2a22] md:text-xl">
              Explore our selection of premium coffee beans, roasted to
              perfection for a delightful coffee experience.
            </p>
          </div>
          <div class="w-full h-full aspect-[16/9]">
            <img
              src="https://www.coffeehit.co.uk/cdn/shop/articles/coffee-beans-101-the-4-most-popular-beans-explained_5400x.jpg?v=1708448895"
              width="1270"
              height="700"
              alt="Coffee Beans"
              style=""
              class="mx-auto aspect-[16/9] overflow-hidden rounded-t-xl object-cover"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="w-full py-20 lg:py-33 bg-[#e9d7cb]" id="shop">
      <div class="px-4 md:px-6">
        <div
          class="flex flex-col items-center justify-center space-y-4 text-center"
        >
          <div class="space-y-2">
            <h1
              class="lg:leading-tighter text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[4rem] text-[#3b2a22]"
            >
              Our Coffee Varieties
            </h1>
            <p
              class="max-w-[900px] text-[#3b2a22] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
            >
              Explore our selection of premium coffee beans, each with its own
              unique flavor profile.
            </p>
          </div>
        </div>
        <div
          class="grid md:grid-cols-3 md:px-10 md:gap-x-7 sm:px-48 px-20 2xl:px-72 xl: pt-8 md:pb-16 pb-6 gap-y-10 gap-x-12"
        >
          {
            cards
              .slice(0, 3)
              .map((card) => <ProductCard card={card} key={card.data.title} />)
          }
        </div>
      </div>
      <div class="w-full flex items-center justify-center">
        <div class="w-40 flex justify-center">
          <Button> Explore more </Button>
        </div>
      </div>
    </section>
  </main>

  
  <ContactUs />
  <Contacts />
</Layout>
