---

import Layout from "../layouts/Layout.astro"
import Button from '../components/Button.astro'
---


<Layout
    title="Thank you!"
    description="Contact us request"
>
    <div class="w-full h-3/4 flex flex-col items-center justify-center">
        <h1
        class="lg:leading-tighter text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[4rem] text-[#3b2a22]"
      >
        Thank you!
      </h1>
      <p>
        We will contact you as soon as possible
      </p>
      <a class="mt-2" href="/" >
        <Button>
            Return to main page
        </Button>
      
      </a>
    </div>

</Layout>