<section
  class="w-full py-12 md:py-24 lg:pt-32 lg:pb-52 bg-[#e9d7cb]"
  id="about"
>
  <div
    class="grid items-center justify-center gap-4 px-4 text-center md:px-6 lg:gap-10"
  >
    <div class="space-y-3">
      <h1
        class="lg:leading-tighter text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[4rem] text-[#3b2a22]"
      >
        Get in Touch
      </h1>
      <p
        class="mx-auto max-w-[600px] text-[#3b2a22] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Have a question or want to learn more? You can reach us through the
        following channels.
      </p>
    </div>
    <div
      class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:max-w-5xl"
    >
      <div
        class="flex flex-col items-center justify-center space-y-2 p-4 rounded-lg bg-white shadow-lg cursor-pointer hover:-translate-y-2 ease-in-out duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-8 w-8 text-[#3b2a22]"
        >
          <path
            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
          ></path>
        </svg>
        <h3 class="font-bold text-[#3b2a22]">Phone</h3>
        <p class="text-[#3b2a22]">+1 (555) 555-5555</p>
      </div>
      <div
        class="flex flex-col items-center justify-center space-y-2 p-4 rounded-lg bg-white shadow-lg cursor-pointer hover:-translate-y-2 ease-in-out duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-8 w-8 text-[#3b2a22]"
        >
          <rect width="20" height="16" x="2" y="4" rx="2"></rect>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
        </svg>
        <h3 class="font-bold text-[#3b2a22]">Email</h3>
        <p class="text-[#3b2a22">BossOfCoffee@gmail.com</p>
      </div>
      <div
        class="flex flex-col items-center justify-center space-y-2 p-4 rounded-lg bg-white shadow-lg cursor-pointer hover:-translate-y-2 ease-in-out duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-8 w-8 text-[#3b2a22]"
        >
          <line x1="2" x2="5" y1="12" y2="12"></line>
          <line x1="19" x2="22" y1="12" y2="12"></line>
          <line x1="12" x2="12" y1="2" y2="5"></line>
          <line x1="12" x2="12" y1="19" y2="22"></line>
          <circle cx="12" cy="12" r="7"></circle>
        </svg>
        <h3 class="font-bold text-[#3b2a22]">Address</h3>
        <p class="text-[#3b2a22]">123 Main Street, Kyiv UA</p>
      </div>
    </div>
  </div>
</section>
