---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const card = await getEntry("cards", slug);

if (!card) throw new Error("No card found for this slug");
const { Content } = await card.render();

// Generate static pages
export async function getStaticPaths() {
  const cards = await getCollection("cards");
  return cards.map((card) => ({ params: { slug: card.slug } }));
}
---

<Layout title={card.data.title} description={card.body}>
  <h1>{card.data.title}</h1>
  <div class="bg-red-500">
    <Content />
  </div>
</Layout>
