---
import "../styles.css";
import Header from "../components/Header.astro";
import Seo from "../components/Seo.astro";

export interface Props {
	title: string;
	description: string;
}

const url = Astro.url.href;

const { title, description }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Seo
			title={title}
			description={description}
			siteName="Dristalnya Coffee"
			url={url}
			img="/og-image.png"
			imgType="image/png"
			lang="en"
			twitterProfile="https://twitter.com/dristalnyacoffee"
			linkedinProfile="https://www.linkedin.com/in/dristalnya-coffee"
			logo="https://astro-coffee.onrender.com/favicon.svg"
			contactUrl="https://astro-coffee.onrender.com/#contact"
			keywords={[
				"coffee",
				"cafe",
				"dristalnya",
				"dristalnya coffee",
				"astro",
				"astro coffee",
				"site",
				"website",
				"web",
			]}
		/>
	</head>
	<body>
		<Header />
		<div class="flex flex-col bg-[#e9d7cb] h-[100vh] w-100">
			<slot />
		</div>
	</body>
</html>
